<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add Comments</h1>

    <form action="/post-comment" method="post">
        <fieldset>
            <legend>GET</legend>
            <label for="name">Name: </label>
            <input placeholder="Enter Name" value="" name="Name" >

            <label>Comments: </label>
            <textarea placeholder="Add Comments here ..." value="" name="comments"></textarea>
            <button type="submit">Submit</button>
        </fieldset>
    </form>
</body>
</html>