<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
    <%- include('./partials/navbar.ejs') %>

    <div class="blog"> 
        <h2><%= myblog.name %></h2>
        <p> <%= myblog.comments %> </p>

    </div>

</body>
</html>