
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand">Shopping App</a>

          <div class="" id="navbarNav">
            <ul class="navbar-nav mx-2 flex-row">
              <li class="nav-item ">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item mx-2">
                <a class="nav-link" href="#">Products</a>
              </li>
              <li class="nav-item mx-2">
                <a class="nav-link" href="#">Cart</a>
              </li>
             
            </ul>
          </div>


          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
    </nav>
