.grand_parent {
    width:  400px;
    height: 400px;
    border: 2px solid black;
    padding: 50px;
}
.parent{
    width: 300px;
    height: 300px;
    border: 2px solid blue;
    text-align: center;
    padding: 50px;
}
.child{
    width: 150px;
    height: 150px;
    border: 2px solid black;
    padding: 50px;
}