
.cal_container{
    width: 300px;
    border: 3px solid gray;
}

td{
    box-shadow: 1px 2px 1px gray;
    /* border: 1px solid black; */
    text-align: center;
    cursor: pointer;
}
td:hover{
    transition-duration: 200ms;
    transition-timing-function: ease-in;
    background-color: aliceblue;
    transform: scale(1.05);
}
input{
    width: calc(100% - 8px);
    padding: 8px;
    padding-inline: 0px;
    margin: 8px 0;
    font-size: 1.5rem;
}